<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit product | Nodeshop.io</title>
  <link href="/styles.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <% include partials/navbar %>

    <div class="container mx-auto p-4 mt-[70px] min-h-[80vh]">
      <h1 class="text-4xl font-bold mb-6"><%= product ? "Edit Product" : "Add product" %></h1>
      <form action="<%= product ? '/save-product/' + product._id : '/add-product' %>" method="post"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <!-- Name -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="name"
            name="name" type="text" value="<%= product ? product.name : "" %>">
        </div>

        <!-- Description -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Description</label>
          <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"
            id="description" name="description"><%= product ? product.description : "" %></textarea>
        </div>

        <!-- Price -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="price">Price</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="price"
            name="price" type="number" step="0.01" value="<%= product ? product.price : 0 %>">
        </div>

        <!-- Stock -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="stock">Stock</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="stock"
            name="stock" type="number" value="<%= product ? product.stock : 0 %>">
        </div>

        <!-- Image -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="image">Image URL</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="image"
            name="image" type="text" value="<%= product ? product.image : "" %>">
        </div>

        <!-- Category -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="category">Category</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"
            id="category" name="category" type="text" value="<%=product ? product.category : "" %>">
        </div>

        <!-- Brand -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="brand">Brand</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" id="brand"
            name="brand" type="text" value="<%= product ? product.brand : "" %>">
        </div>

        <!-- Buttons -->
        <div class="flex justify-between gap-2">
          <button id="goBackBtn" class="bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-gray-700 w-1/3">Go
            back</button>
          <button type="submit"
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 w-1/3">Save</button>
          <% if (product) { %>
            <button id="deleteBtn" type="button"
              class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700 w-1/3">Delete</button>
            <% } %>
        </div>
      </form>
    </div>

    <% include partials/footer %>

      <script>
        document.getElementById('goBackBtn').addEventListener('click', function (e) {
          e.preventDefault();
          window.location.href = '/admin/products';
        });

        document.getElementById('deleteBtn').addEventListener('click', function () {
          if (confirm('Are you sure you want to delete this product?')) {
            window.location.href = '/delete-product/' + '<%= product ? product._id : "" %>';
          }
        });
      </script>

</body>

</html>